* {
  margin: 0;
}

#headshot {
  vertical-align: middle;
  height: 150px;
  width: 150px;
  margin: 20% auto 1%;
}

#aboutDiv {
  border: solid 5px rgb(18, 35, 105);
  border-radius: 15px;
}

#educationDiv {
  border: solid 5px rgb(47, 160, 170);
  border-radius: 15px;
}

#experienceDiv {
  border: solid 5px rgb(18, 35, 105);
  border-radius: 15px;
}

#contactDiv {
  border: solid 5px rgb(47, 160, 170);
  border-radius: 15px;
}

#messageBox {
  width: 300px;
  text-align: center;
  flex: 1;
}

#inputs {
  width: 300px;
  flex: 1;
}

#inputs > ul > label{
  float: left;
}

#inputs > ul > li {
  list-style: none;
}

.nav {
  font-family: 'Bungee', cursive;
  font-size: 2em;
  position: relative;
  margin: auto;
  text-align:center;
  border-radius: 30px;
  padding: 20px;
  width: 100%;
  color: white;
  z-index: 1;
}

.sticky {
  font-family: 'Fira Sans', sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 15px;
  height: 30px;
  text-align: center;
  width: 40%;
  padding: 0;
  border-radius: 10px;
  background-color: rgb(74, 212, 206);
}

.outer {
  list-style: none;
}

.clear {
  clear: both;
}

.active {
  background-color: rgb(18, 35, 105);
}

.flex-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexed {
  display: inline-block;
}

.come-in {
  -webkit-transform: translateY(150px);
  -webkit-animation: come-in 0.8s ease forwards;
  -moz-transform: translateY(150px);
  -moz-animation: come-in 0.8s ease forwards;
}

.already-in {
  -webkit-transform: translateY(0);
  -webkit-animation: none;
  -moz-transform: translateY(0);
  -moz-animation: none;
}

@-webkit-keyframes come-in {
  to {  -webkit-transform: translateY(0);
  }
}
@-moz-keyframes come-in {
  to {  -moz-transform: translateY(0);
  }
}

.sticky > nav > ul > li > a:hover {
  background-color: rgb(18, 35, 105);
}

.active-menu {
  background-color: rgb(18, 35, 105);
}

p.picture {
  text-align: center;
  position: relative;
}

.nav a {
  text-decoration: none;
  color: white;
}

.sticky a {
  text-decoration: none;
  color: white;
}

.footer {
  text-align: center;
}

.footer > ul {
  list-style-type: none;
  text-align: center;
}

.footer > ul > li {
  text-align: center;
  display: inline-block;
  margin: 15px;
}

input[type=text] {
  border:2px solid #ccc;
  border-radius: 5px;
}

input[type=submit] {
  background:rgb(47, 160, 170);
  border:0 none;
  cursor:pointer;
  border-radius: 5px;
  color: white;
  width: 70px;
  height: 30px;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

html, body, header {
  width: 100%;
  height: 100%;
}

header {
  background: url('../images/forbes.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

section div {
  padding: 5px;
  width: 75%;
  margin: 5px auto;
}

nav ul {
  display: inline;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}

fieldset > ul {
  margin-left: 0;
}

fieldset > ul > li {
  list-style-type: none;
}

nav > ul > li > a {
  line-height: 2em;
  padding: 0 20px;
  text-decoration: none;
}

li > a {
  display: block;
}

li > input {
  float: right;
}

fieldset {
  border: 0;
  width: 300px;
}

textarea {
  width: 300px;
  height: 150px;
  resize: none;
  border-radius: 5px;
  border:2px solid #ccc;
}

form {
  width: 300px;
}
